/************ 공통사항 *************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
* {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	line-height: 0.95;
	width: 100%;
	overflow-x: hidden;
}

.wrapper {
	max-width: 1200px;
	margin: auto;
}

a:link,
a:visited,
a:active,
a:hover {
	color: inherit;
	text-decoration: none;
}

b {
	color: #000;
}

.w-100 {
	width: 100%;
}

.mw-100 {
	max-width: 100%;
}

.mh-100 {
	max-height: 100%;
}

section {
	width: 100%;
	overflow-x: hidden;
}

.title-main {
	position: relative;
	font-size: 3em;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	padding-top: 4em;
	margin-bottom: 5.5em;
	padding-bottom: 0.5em;
}

.title-main::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 1.3em;
	height: 0.18em;
	background-color: #fcbc3d;
}

.title-sub {
	font-size: 1.8em;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #f3f3f3;
	padding-bottom: 2em;
}

span.blue {
	color: #3289c0;
}

/************ .side-wrap *************/
.side-wrap {
	position: fixed;
	bottom: 2em;
	right: 0;
	margin-bottom: 4em;
	margin-right: 2em;
	z-index: 100;
}

.side-wrap .git {
	padding-bottom: 1.2em;
}

/************ .header-wrapper *************/
.header-wrapper {
	width: 100%;
	overflow-x: hidden;
}

.header-wrapper .sub-wrapper {
	display: flex;
	flex-direction: column;
}

.header-wrapper .sub-wrap {
	margin-left: auto;
	padding: 2em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
	cursor: pointer;
}

.header-wrapper .sub-wrap .bar {
	width: 40px;
	height: 8px;
	border-radius: 4px;
	background-color: #2e5d7c;
	transition: all 0.5s;
}

.header-wrapper .sub-wrap .bar-top {
	transform: translateY(-8px);
}

.header-wrapper .sub-wrap .bar-mid {
	transform: translateY(0);
}

.header-wrapper .sub-wrap .bar-bot {
	transform: translateY(8px);
}

.header-wrapper.active .sub-wrap .bar-top {
	transform: translateY(8px) rotate(45deg);
}

.header-wrapper.active .sub-wrap .bar-mid {
	transform: translateY(0);
	opacity: 0;
}

.header-wrapper.active .sub-wrap .bar-bot {
	transform: translateY(-8px) rotate(-45deg);
}


.header-wrapper ul.mo-wrap {
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	margin-left: auto;
	padding: 0 2em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: -0.025em;
	padding-top: 2.5em;
	margin-right: 4em;
	color: #333;
	transform: translateX(200%);
	transition: all 0.5s;
}

.header-wrapper.active ul.mo-wrap {
	transform: translateX(0);
}

.header-wrapper ul.mo-wrap li.sub {
	padding-bottom: 1.5em;
}

.header-wrapper ul.mo-wrap li.sub:hover {
	color: #fcbc3d;
}

/************ .main-wrapper *************/
.main-wrapper {
	position: relative;
	width: 100%;
	user-select: none;
	height: 100vh;
}
.main-wrapper .main-img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.main-wrapper .text-box {
	color: #585858;
}

.main-wrapper .text-box .top {
	width: 100%;
	position: absolute;
	left: 54%;
	top: 30%;
	font-size: 2.7em;
	line-height: 1.6em;
}

.main-wrapper .text-box h2.m-title:last-child {
	position: absolute;
	left: 1em;
}

.main-wrapper .text-box h2.m-title span {
	font-size: 0.8em;
}

.main-wrapper .text-box .bottom {
	width: 100%;
	position: absolute;
	left: 36%;
	top: 60%;
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.4em;
	letter-spacing: -0.05em;
}

/************ .navi-wrapper *************/
.navi-wrapper {
	width: 100%;
	z-index: 999;
	background-color: #fff;
	opacity: 0.8;
	position: fixed;
	top: -90px;
	left: 0;
	transition: all 0.33s;
}

.navi-wrapper > .wrapper {display: flex; align-items: center; height: 89px; padding: 0 5%;}

.navi-wrapper.active {
	top: 0;
}


.navi-wrapper ul.navi-wrap {
	display: flex;
	margin-left: auto;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	letter-spacing: -0.025em;
	color: #333;
}

.navi-wrapper ul.navi-wrap li.navi {
	padding-left: 4em;
}

.navi-wrapper ul.navi-wrap li.navi:hover {
	color: #fcbc3d;
}

/************ .skills-wrapper *************/
.skills-wrapper {
	width: 100%;
	padding-bottom: 5.5em;
	position: relative;
	user-select: none;
}

.skills-wrapper .title-main {
	color: #f3f3f3;
}

.skills-wrapper .title-sub {
	width: 200px;
	display: flex;
	align-items: center;
	margin: auto;
	padding-left: 2em;
}

.skills-wrapper .skills-wrap {
	display: flex;
	width: 100%;
}

.skills-wrapper .skills {
	width: 100%;
}

.skills-wrapper .img-wrapper {
	margin-right: 2em;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skills-wrapper .img-wrap {
	margin-right: 2em;
	margin-bottom: 2em;
	width: 24%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8)
}

/************ .about-wrapper *************/
.about-wrapper {
	width: 100%;
	padding-bottom: 5.5em;
	background-color: #f3f3f3;
	position: relative;
	user-select: none;
}

.about-wrapper ul.about-wrap {
	display: flex;
}

.about-wrapper li.about {
	display: flex;
	margin-right: 2em;
	padding-bottom: 3em;
}

.about-wrapper li.about:not(li:last-child) {
	width: 35%;
}

.about-wrapper li.about>.img-wrap {
	margin-right: 2em;
}

.about-wrapper li.about .txt-wrap>h2 {
	margin-bottom: 1em;
	font-weight: bold;
	letter-spacing: -0.05em;
}

.about-wrapper li.about .txt-wrap>p {
	line-height: 1.2em;
	color: #777;
	font-size: 1.5em;
	letter-spacing: -0.08em;
}

.about-wrapper li.about .txt-wrap>p:last-child {
	margin-top: 0.7em;
}

.about-wrapper li.about>p {
	margin-top: 2em;
	font-size: 1.4em;
	letter-spacing: -0.1em;
}

.about-wrapper li.about>p i {
	margin-right: 0.5em;
}

.about-wrapper li.about>p a:hover {
	color: #cbcbcb
}

/************ .works-wrapper *************/
.works-wrapper {
	width: 100%;
	position: relative;
	user-select: none;
}

.works-wrapper .title-main {
	margin-bottom: 2em;
}

.works-wrapper .swiper-container {
	background: url('../img/grey-bg.jpg') repeat-x;
	background-position: center;
	background-size: 100% 50%;
	margin-bottom: 12em;
}

.works-wrapper .swiper-slide {
	height: 50vh
}

.works-wrapper .products {
	position: relative;
	height: 100%;
	width: 50%;
	margin: auto;
}
.works-wrapper .site-wrap-reac{
	display: none;
	width: 100%;
}
.works-wrapper .products .bg {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 50vh;
	cursor: pointer;
}

.works-wrapper .products .bg:hover {
	opacity: 0.1;
}

.works-wrapper .bt-arrow {
	font-size: 2em;
	color: #333;
	border: 1px solid #eee;
	padding: 1.8em 1em;
	border-radius: 10%;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 60%;
	transform: translateY(-60%);
	z-index: 9;
	cursor: pointer;
}

.works-wrapper .bt-arrow:hover {
	background-color: rgba(0, 0, 0, 0.6);
	color: #f3f3f3;
}

.works-wrapper .swiper-button-next {
	right: 3em;
}

.works-wrapper .swiper-button-prev {
	left: 3em;
}

/************ .footer-wrapper *************/
.footer-wrapper {
	width: 100%;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
	background-color: #101a1c;
	color: #f3f3f3;
	text-align: center;
	user-select: none;
	padding: 3em 0;
}

.footer-wrapper h2.ft {
	padding-top: 0.5em;
	font-size: 3em;
}

.footer-wrapper .f-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 3em;
	padding-bottom: 2em;
	font-weight: 300;
}

.footer-wrapper .f-left {
	margin-top: 8em;
	font-size: 1.1em;
	text-align: left;
}

.footer-wrapper .f-left p.top {
	font-size: 2.8em;
	padding-bottom: 0.7em;
}
.footer-wrapper .f-left span.copy{
	color: #ddd;
}

.footer-wrapper .f-right {
	font-size: 1.1em;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.footer-wrapper .f-right p.name {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-bottom: 2.3em;
}

.footer-wrapper .f-right span.address{
font-size: 1.1em;
line-height: 1.5em;
}
.footer-wrapper .f-right span.address:hover{
	opacity: 0.3;
}
.footer-wrapper .f-right span.copy{
	padding-top: 2.5em;
	color: #ddd;
}

/************ .반응형 *************/
@media screen and (max-width: 1199px) {
	.main-wrapper .text-box .top {
		left: 56%;
		top: 32%;
		font-size: 2.3em;
	}

	.main-wrapper .text-box .bottom {
		left: 30%;
		top: 60%;
		font-size: 2.2em;
	}


	.skills-wrapper .title-sub {
		width: 250px;
	}

	.skills-wrapper .skills-wrap {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.skills-wrapper .skills {
		display: flex;
	}

	.skills-wrapper .img-wrapper {
		justify-content: flex-start;
	}

	.skills-wrapper .img-wrap {
		margin-right: 1.4em;
		width: 75px;
	}


	.about-wrapper ul.about-wrap {
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	.about-wrapper li.about {
		display: flex;
		margin: auto;
		padding-bottom: 3em;
		width: 50%;
	}

	.about-wrapper li.about:last-child {
		padding-left: 7%;
	}

	.about-wrapper li.about>.img-wrap {
		margin: 0 3em;
	}

	.footer-wrapper {
		padding: 2em 1em;
	}
	.footer-wrapper .f-right>span.address {
		display: none;
	}
	.footer-wrapper .f-right span.copy{
		padding-top: 5.7em;
	}
}

@media screen and (max-width: 991px) {
	.main-wrapper .text-box .top {
		top: 26%;
		left: 50%;
		font-size: 2.2em;
	}

	.main-wrapper .text-box .bottom {
		left: 30%;
		top: 58%;
		font-size: 2em;
	}

	.navi-wrapper ul.navi-wrap {
		margin-right: 10em;
		font-size: 1.3em;
		letter-spacing: -0.025em;
		/* 위치 가운데로 모이기*/
	}

	.works-wrapper .site-wrap{
		display: none;
	}
	.works-wrapper .site-wrap-reac{
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.main-wrapper .text-box .top {
		top: 25%;
		left: 45%;
		font-size: 2em;
	}
	.main-wrapper .text-box .bottom {
		left: 26%;
		top: 58%;
		font-size: 1.8em;
	}

	.skills-wrapper .title-sub {
		width: 180px;
		font-size: 1.5em;
		padding-left: 1em;
	}

	.skills-wrapper .img-wrap {
		margin-right: 1.4em;
		width: 11%;
	}

	.about-wrapper li.about {
		margin: 0;
		padding-bottom: 3em;
	}

	.about-wrapper li.about:last-child {
		padding-left: 0%;
	}

	.about-wrapper li.about:not(li:last-child) {
		width: 100%;
	}
	.works-wrapper .site-wrap-reac{
		height: 50%;
	}

	.works-wrapper .swiper-container {
		margin-bottom: 0;
	}

	.works-wrapper .swiper-button-next {
		right: 1em;
	}

	.works-wrapper .swiper-button-prev {
		left: 1em;
	}
}

@media screen and (max-width: 575px) {
	.header-wrapper ul.mo-wrap {
		width:180px;
		height: 200px;
		background-color: #fff;
		margin-right: 1em;
		z-index: 90;
	}

	.main-wrapper .text-box .top {
		left: 33%;
		font-size: 1.8em;
	}

	.main-wrapper .text-box .bottom {
		left: 4%;
		top: 60%;
		font-size: 1.7em;
	}

	.about-wrapper li.about {
		width: 100%;
	}


	.footer-wrapper .f-left {
		text-align: left;
	}

	.footer-wrapper .f-left p.top {
		font-size: 2em;
	}

	.footer-wrapper .f-right>span.copy {
		display: none;
	}

	.footer-wrapper .f-right p.name {
		font-size: 1.1em;
	}

	.side-wrap {
		bottom: 1em;
	}

}